<!DOCTYPE html>
<html>
<head>
    <title>Alarms</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        dl {
            margin: 2rem;
        }
        dt {
            font-weight: bold;
            padding: 1rem;
        }
        dd {
            padding: 1rem;
        }
    </style>
</head>
<body>
    {% if alarm %}
    <dl>
    {% for column_name in alarm.keys() %}
        <dt>{{ column_name | capitalize }}</dt>
        <dd>{{ alarm[column_name] }}</dd>
    {% endfor %}
    </dl>
    {% endif %}
</body>
</html>